@font-face {
	font-family: Merriweather;
	src: url('Merriweather-Regular.ttf');
}
@font-face {
	font-family: LatoReg;
	src: url('Lato-Black.ttf');
}
@font-face {
	font-family: FontAwesome;
	src: url('FontAwesome.otf');
}
@font-face {
	font-family: TrajanRegular;
	src: url('TrajanRegular.ttf');
}
@font-face {
	font-family: TrajanBold;
	src: url('TrajanBold.ttf');
}
@font-face {
	font-family: MerriweatherLight;
	src: url('Merriweather-Light.ttf');
}
@font-face {
	font-family: MerriweatherBold;
	src: url('Merriweather-Bold.ttf');
}


/*------------------------------------------------------
-----------------------Beginning------------------------
-------<body>, Javascript, Headings, buttons------------
--------------------DESKTOP, MOBILE-------------------*/

body {
	overflow-x: hidden;
	max-width: 100vw;
	background-color: #1B3362;
	font-family: MerriweatherLight;
}

.heading1 {
	line-height: 1.5;
}

.heading2 {
	line-height: 2.25;
}

button {
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 0.8%;
	padding-bottom: 0.8%;
	border: 1px solid white;
	border-radius: 5px;
	background-color: #03112C;
	font-size: 1.25em;
	transition: ease .5s;
	color: white;
	cursor: pointer;
}
button:hover {
	background-color: white;
	color: #1B3362;
}

.buyNowBtn {
	background-color: #118C4F;
	color: white;
	transition: ease 1s;
}
.buyNowBtn:hover {
	background-color: white;
	color: #118C4F;
}



/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width: 600px) {
	.buyNowBtn {
		margin-top: 1vh;
	}
}
/* --- MOBILE PHONE END --- */



.buyNowBtnNav {
	background-color: #118C4F;
	color: white;
	border: 1px solid white;
}
.buyNowBtnNav:hover {
	background-color: white;
	color: #118C4F;
}



/* --- Slide In Effect Scrolling BEGIN --- */
.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.fade-in-bottom-proj {
	animation: fade-in-bottom 1s ease-in;

}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-bottom-open {
	animation: fade-in-bottom 1s ease-in-out both;
}
/* --- Slide In Effect Scrolling END --- */


/*------------------------------------------------------
-------------------------Ending-------------------------
-------<body>, Javascript, Headings, buttons------------
---------------------DESKTOP, MOBILE------------------*/



/*------------------------------------------------------
-----------------------Beginning------------------------
-------------------------<nav>--------------------------
-----------------DESKTOP, TABLET, MOBILE--------------*/


nav {
	border-bottom: 2px solid white;
}

.navbar-toggler-icon {
	color: white;
	font-family: FontAwesome;
	font-size: 1.15em;
	padding-top: 5px;
}

.navbar ul li a:hover {
	color: #E0CB70;
}



/* --- SMALL COMPUTER BEGIN --- */
@media only screen and (max-width: 1200px) {
	.navbar ul li a {
		font-size: .95em;
	}
}
/* --- SMALL COMPUTER END --- */



/* --- TABLET BEGIN --- */
@media only screen and (max-width: 768px) {
	.navbar ul li a {
		font-size: .95em;
	}
}
.navbar ul li a {
	color: white;
}
/* --- TABLET END --- */



.Brnd {
	font-size: 1.5em;
	color: white;
	font-family: MerriweatherBold;
}
.Brnd:hover {
	color: #E0CB70;
}



/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width: 600px) {
	.Brnd {
		font-size: 1.2em;
	}
}
/* --- MOBILE PHONE END --- */



.webDD {
	font-size: .75em;
}


/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width: 600px) {
	.webDD {
		font-size: .8em;
	}
}
/* --- MOBILE PHONE END --- */



/*------------------------------------------------------
------------------------Ending--------------------------
-------------------------<nav>--------------------------
-----------------DESKTOP, TABLET, MOBILE--------------*/



/*------------------------------------------------------
------------------------Beginning-----------------------
--------------header, head1, head2, justin--------------
-----------------DESKTOP, TABLET, MOBILE--------------*/

.header {
	height: 100vh;
	color: white;
}



/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width: 600px) {
	.header {
		height: 125vh;
		overflow: hidden;
	}
}
/* --- MOBILE PHONE END --- */



.head1 {
	padding-top: 3%;
}
.head2 {
	overflow: hidden;
}



/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width: 600px) {
	.head1 {
		padding-top: 0;
	}
	.head2 {
	}
}
/* --- MOBILE PHONE END --- */



.justin {
	height: 120%;
	margin-left: -30%;
	margin-top: -5%;
	position: absolute;
}



/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width: 600px) {
	.justin {
		height: 375%;
		margin-top: -70%;
		margin-left: -80%;
		z-index: -1;
	}
}
/* --- MOBILE PHONE END --- */



/*------------------------------------------------------
------------------------Ending-----------------------
--------------header, head1, head2, justin--------------
-----------------DESKTOP, TABLET, MOBILE--------------*/



/*------------------------------------------------------
------------------------Beginning-----------------------
--------------Overview, comp, abt, wave-----------------
-----------------DESKTOP, TABLET, MOBILE--------------*/

#Overview {
	background-color: white;
}

.comp {
	animation: mover 1.5s infinite alternate;
}

/* --- Javascript computer image move effect BEGIN--- */
@keyframes mover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-20px);
	}
}
/* --- Javascript computer image move effect END--- */

/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width:600px) {
	.comp {
		width: 90vw;
	}
}
/* --- MOBILE PHONE END --- */

.abt {
	color: #1B3362;
	font-family: Merriweather;
}
.wave {}

	/*----------------------------------------------------
	------------------------Ending-----------------------
	--------------Overview, comp, abt, wave---------------
	-----------------DESKTOP, TABLET, MOBILE------------*/



	/*----------------------------------------------------
	------------------------Beginning---------------------
	--------------WorkExp, Boxes, box, certbox1-----------
	-----------------DESKTOP, TABLET, MOBILE------------*/

#WorkExp {
	background-color: #1B3362;
}
#Boxes {
	padding-bottom: 3%;
	background-color: #1B3362;
}
.box {
	background-color: white;
	border-radius: 25px;
	padding: 1%;
	width: 60%;
	margin: auto;
	color: #333;
	box-shadow: 5px 5px 10px #333;
}

/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width: 600px) {
	.box {
		margin-top: 1%;
		margin-bottom: 1%;
		width: 80vw;
	}
}
/* --- MOBILE PHONE END --- */


.certbox1 {
	background-image: url('images/RespWebDevCert.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 80vh;
}

/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width: 600px) {
	.certbox1 {
		width: 90vw;
		height: 60vh;
		background-size: cover;
	}
}
/* --- MOBILE PHONE END --- */



/*----------------------------------------------------
------------------------Ending---------------------
--------------WorkExp, Boxes, box, certbox1-----------
-----------------DESKTOP, TABLET, MOBILE------------*/



/*----------------------------------------------------
------------------------Beginning---------------------
--------------Projects, grid-container, no1-9-----------
-----------------DESKTOP, TABLET, MOBILE------------*/

#Projects {
	padding: 5%;
	height: auto;
}

/* --- MOBILE PHONE BEGIN--- */
@media only screen and (max-width: 600px) {
	#Projects {}
}
/* --- MOBILE PHONE END --- */

.grid-container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, 30vh);
	grid-gap: 5px;
}
a.fill-div {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}


/* --- DESKTOP BEGIN --- */
@media only screen and (min-width: 1220px) {
	.grid-container:hover>div {
		opacity: 0.5;
	}
	.grid-container:hover>div:hover {
		opacity: 1;
		transform: scale(1.05);
	}
	.grid-container>div {
		transition: 0.5s ease;
		cursor: pointer;
	}
}
/* --- DESKTOP END --- */

/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width: 600px) {
	.grid-container {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-gap: 0;
	}
}
/* --- MOBILE PHONE END --- */


.no1,
.no2,
.no3,
.no4,
.no5,
.no6,
.no7,
.no8,
.no9 {
	background-image: url('images/head.jpg');
	background-repeat: no-repeat;
	background-size: 307%;
}
.no1 {
	background-position: 0% 0%;
}
.no2 {
	background-position: 49% 0%;
}
.no3 {
	background-position: 98% 0%;
}
.no4 {
	background-position: 0% 43%;
}
.no5 {
	background-position: 49% 43%;
}
.no6 {
	background-position: 98% 43%;
}
.no7 {
	background-position: 0% 87%;
}
.no8 {
	background-position: 49% 87%;
}
.no9 {
	background-position: 98% 87%;
}

/* --- MOBILE PHONE, TABLET BEGIN --- */
@media only screen and (max-width: 800px) {
	.no1 {
		height: 100vh;
		width: 85vw;
		background-image: url('images/screenMA.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 20% 50%;
	}
	.no2,
	.no3,
	.no4,
	.no5,
	.no6,
	.no7,
	.no8,
	.no9 {
		display: none;
	}
}
/* --- MOBILE PHONE, TABLET END --- */



/*------------------------------------------------------
------------------------Ending-----------------------
--------------Projects, grid-container, no1-9-----------
-----------------DESKTOP, TABLET, MOBILE------------*/



/*----------------------------------------------------
------------------------Beginning---------------------
----------------footer, social media icons-------------
-----------------DESKTOP, TABLET, MOBILE------------*/

#footer {
	height: 10vh;
	margin-top: 3%;
	background-color: #1B3362;
}
.emailSVG {
	height: 10.5vh;
	width: 5.5vw;
	background-image: url("images/email-white.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: .25s;
	position: absolute;
	top: 46.5%;
	left: 24.5%;
}
.emailSVG:hover {
	background-image: url("images/email-yellow.svg");
}
.githubSVG {
	height: 10vh;
	width: 5vw;
	background-image: url("images/github (1).svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: .25s;
	position: absolute;
	top: 46.5%;
	left: 36%;
}
.githubSVG:hover {
	background-image: url("images/github (2).svg");
}
.btrstSVG {
	height: 10vh;
	width: 5vw;
	background-image: url("images/btrst-white.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: .25s;
	position: absolute;
	top: 46.5%;
	right: 36%;
}
.btrstSVG:hover {
	background-image: url("images/btrst-yellow.svg");
}
.linkedinSVG {
	height: 9.5vh;
	width: 4.5vw;
	background-image: url("images/linkedin-white.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: .25s;
	position: absolute;
	top: 46.5%;
	right: 24.5%;
}
.linkedinSVG:hover {
	background-image: url("images/linkedin-yellow.svg");
}
.fiverrSVG {
	height: 17vh;
	width: 12vw;
	background-image: url("images/fiverr-white.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: .25s;
	margin: auto;
}
.fiverrSVG:hover {
	background-image: url("images/fiverr-yellow.svg");
}

/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width: 600px) {
	.emailSVG {
		height: 15vh;
		width: 10vw;
		background-image: url("images/email-white.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 41%;
		left: 5%;
	}
	.githubSVG {
		height: 15vh;
		width: 10vw;
		background-image: url("images/github (1).svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 41%;
		left: 25%;
	}
	.btrstSVG {
		height: 15vh;
		width: 10vw;
		background-image: url("images/btrst-white.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 41%;
		right: 25%;
	}
	.linkedinSVG {
		height: 15vh;
		width: 10vw;
		background-image: url("images/linkedin-white.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 41%;
		right: 5%;
	}
	.fiverrSVG {
		height: 22vh;
		width: 17vw;
		background-image: url("images/fiverr-white.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		margin: auto;
	}
}
/* --- MOBILE PHONE END --- */


/*----------------------------------------------------
------------------------Ending---------------------
----------------footer, social media icons-------------
-----------------DESKTOP, TABLET, MOBILE------------*/





/*--------------------------------------------------
Marcus Aurelius Page css
----------------------------------------------*/

.M-A-Head {
	background-image: url('images/marcusaurelius.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}
.butuh {
	height: 100%;
	width: 100%;
	padding-top: 3%;
	padding-left: 15%;
	font-family: TrajanBold;
	text-align: center;
	color: white;
}

/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width: 600px) {
	.M-A-Head {
		background-position: 40% 50%;
	}
	.butuh {
		height: 100%;
		width: 100%;
		padding-top: 20%;
		padding-left: 0;
		font-family: TrajanBold;
		text-align: center;
		color: white;
	}
}
/* --- MOBILE PHONE END --- */


.maintro {
	height: auto;
}

/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width: 600px) {
	.maintro {
		height: auto;
	}
}
/* --- MOBILE PHONE END --- */


.ma1 {
	padding: 3%;
}
.ma2 {
	background: url('images/ma.jpg');
	background-attachment: fixed;
	background-position: 50% 40%;
	background-repeat: no-repeat;
	background-size: cover;
}
.madivide {
	height: 100vh;
}
.ma3 {
	background: url('images/ma6.jpg');
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.ma4 {
	padding: 3%;
}

/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width: 600px) {
	.ma4 {
		padding-top: 0;
	}
}
/* --- MOBILE PHONE END --- */


.ma5 {
	background: url('images/med.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: -30% 50%;
	background-size: contain;
}
.mamed {
	height: 100vh;
}
.ma6 {
	padding: 5%;
	background-color: black;
	color: white;
}
.ma7 {
	background: url('images/ma1.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.ma8 {
	padding: 3%;
}
.aa {
	font-size: 2em;
}
.bb {
	font-size: 1.25em;
}

/* --- MOBILE PHONE BEGIN --- */
@media only screen and (max-width: 600px) {
	.aa {
		font-size: 1.8em;
	}
	.bb {
		font-size: 1.1em;
	}
	.ma3 {
		background: url('images/ma6.jpg');
		background-attachment: fixed;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
		height: 80vh;
	}
	.ma5 {
		background: url('images/med.jpg');
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 100vh;
	}
	.ma6 {
		height: 100vh;
	}
}
/* --- MOBILE PHONE END --- */
