@font-face {
	font-family: Merriweather;
	src: url('Merriweather-Regular.ttf');
}
@font-face {
	font-family: LatoReg;
	src: url('Lato-Black.ttf');
}
@font-face {
	font-family: FontAwesome;
	src: url('FontAwesome.otf');
}
@font-face {
	font-family: TrajanRegular;
	src: url('TrajanRegular.ttf');
}
@font-face {
	font-family: TrajanBold;
	src: url('TrajanBold.ttf');
}
body {
	overflow-x: hidden;
	max-width: 100vw;
	background-color: #3333ff;
}

/* -- Slide In Effect Scrolling--*/

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}

.scrolled.fade-in-bottom {
  animation: fade-in-bottom 1s ease-in-out both;
}

.scrolled.fade-in-bottom-proj {
	animation: fade-in-bottom 1s ease-in;

}

@keyframes fade-in-bottom {
  0% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-in-bottom-open {
	animation: fade-in-bottom 1s ease-in-out both;
}

/*----------------------------*/

nav {
	min-height: 15vh;
	font-family: LatoReg;
}
.navbar-toggler-icon {
	color: white;
	font-family: FontAwesome;
	font-size: 1.15em;
	padding-top: 5px;
}
/* -- SMALL COMPUTER -- */

@media only screen and (max-width: 1200px) {
	.navbar ul li a {
		font-size: .95em;
	}
}
/* -- TABLET -- */

@media only screen and (max-width: 768px) {
	.navbar ul li a {
		font-size: .95em;
	}
}
.navbar ul li a {
	color: white;
}
@media only screen and (min-width:601px) {
	.navbar ul li a:hover {
		color: #FFE90F;
	}
}
.heading1 {
	font-family: LatoReg;
	line-height: 1.5;
}
.heading2 {
	font-family: LatoReg;
	line-height: 2.25;
}
button {
	padding-left: 1%;
	padding-right: 1%;
	padding-top: 0.8%;
	padding-bottom: 0.8%;
	border: 1px solid white;
	border-radius: 5px;
	background-color: #3333ff;
	font-family: LatoReg;
	font-size: 1.25em;
	transition: ease .5s;
	color: white;
	cursor: pointer;
}
button:hover {
	background-color: white;
	color: #3333ff;
}

.buyNowBtn {
	background-color: #118C4F;
}
.buyNowBtn:hover {
	background-color: white;
	color: #118C4F;
}

@media only screen and (max-width: 600px) {
	.buyNowBtn {
		margin-top: 1vh;
	}
}

.buyNowBtnNav {
	background-color: #118C4F;
	color: white;
	border: 1px solid white;
}
.buyNowBtnNav:hover {
	background-color: white;
	color: #118C4F;
}

.Brnd {
	font-size: 1.5em;
	color: white;
}
@media only screen and (min-width: 601px) {
	.Brnd:hover {
		color: #FFE90F;
	}
}
@media only screen and (max-width: 600px) {
	.Brnd {
		font-size: 1.2em;
	}
}
.webDD {
	font-size: .75em;
}
@media only screen and (max-width: 600px) {
	.webDD {
		font-size: .8em;
	}
}
.header {
	height: 100vh;
	color: white;
}
@media only screen and (max-width: 600px) {
	.header {
		height: 120vh;
	}
}
.head1 {
	padding-top: 3%;
}
.head2 {
	padding-top: 4%;
	padding-left: 10%;
}
/* -- TABLET -- */

@media only screen and (max-width: 768px) {}
/* -- MOBILE PHONE -- */

@media only screen and (max-width: 600px) {
	.head1 {
		padding-top: 0;
	}
	.head2 {
		padding-bottom: 0;
		padding-top: 5%;
	}
}
.justin {
	height: 50%;
	top: 0;
}
/* -- MOBILE PHONE -- */

@media only screen and (max-width: 600px) {
	.justin {
		height: 250px;
		width: 300px;
	}
}
#Overview {
	background-color: white;
}
.comp {
	animation: mover 1.5s infinite alternate;
}
@keyframes mover {
	0% {
		transform: translateY(0);
	}
	100% {
		transform: translateY(-20px);
	}
}
@media only screen and (max-width:600px) {
	.comp {
		width: 90vw;
	}
}
.abt {
	color: #3333ff;
	font-family: Merriweather;
}
.wave {}
#WorkExp {
	background-color: #3333ff;
}
#Boxes {
	padding-bottom: 3%;
	background-color: #3333ff;
}
.box {
	background-color: white;
	border-radius: 25px;
	padding: 1%;
	width: 60%;
	margin: auto;
	color: #333;
	box-shadow: 5px 5px 10px #333;
}
@media only screen and (max-width: 600px) {
	.box {
		margin-top: 1%;
		margin-bottom: 1%;
		width: 80vw;
	}
}
.certbox1 {
	background-image: url('images/RespWebDevCert.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 80vh;
}
@media only screen and (max-width: 600px) {
	.certbox1 {
		width: 90vw;
		height: 60vh;
		background-size: cover;
	}
}
#Projects {
	padding: 5%;
	height: auto;
}
@media only screen and (max-width: 600px) {
	#Projects {}
}
.grid-container {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: repeat(3, 30vh);
	grid-gap: 5px;
}
a.fill-div {
	display: block;
	height: 100%;
	width: 100%;
	text-decoration: none;
}
/* -- COMPUTER -- */

@media only screen and (min-width: 1220px) {
	.grid-container:hover>div {
		opacity: 0.5;
	}
	.grid-container:hover>div:hover {
		opacity: 1;
		transform: scale(1.05);
	}
	.grid-container>div {
		transition: 0.5s ease;
		cursor: pointer;
	}
}
/* -- MOBILE PHONE --*/

@media only screen and (max-width: 600px) {
	.grid-container {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
		grid-gap: 0;
	}
}

/* -- COMPUTER -- */

.no1,
.no2,
.no3,
.no4,
.no5,
.no6,
.no7,
.no8,
.no9 {
	background-image: url('images/head.jpg');
	background-repeat: no-repeat;
	background-size: 307%;
}
.no1 {
	background-position: 0% 0%;
}
.no2 {
	background-position: 49% 0%;
}
.no3 {
	background-position: 98% 0%;
}
.no4 {
	background-position: 0% 43%;
}
.no5 {
	background-position: 49% 43%;
}
.no6 {
	background-position: 98% 43%;
}
.no7 {
	background-position: 0% 87%;
}
.no8 {
	background-position: 49% 87%;
}
.no9 {
	background-position: 98% 87%;
}

/* -- TABLET -- */

@media only screen and (max-width: 768px) {
	.no1,
	.no2,
	.no3,
	.no4,
	.no5,
	.no6 {
		background-image: url('images/head.jpg');
		background-repeat: no-repeat;
		background-size: 310%;
	}
	.no1 {
		background-position: 0% 0%;
	}
	.no2 {
		background-position: 49% 0%;
	}
	.no3 {
		background-position: 98% 0%;
	}
	.no4 {
		background-position: 0% 75%;
	}
	.no5 {
		background-position: 49% 75%;
	}
	.no6 {
		background-position: 98% 75%;
	}
	.no7 {
		display: none;
	}
	.no8 {
		display: none;
	}
	.no9 {
		display: none;
	}
}
/* -- MOBILE PHONE -- */

@media only screen and (max-width: 600px) {
	.no1 {
		height: 100vh;
		width: 85vw;
		background-image: url('images/screenMA.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 20% 50%;
	}
	.no2,
	.no3,
	.no4,
	.no5,
	.no6,
	.no7,
	.no8,
	.no9 {
		display: none;
	}
}

/* -- COMPUTER -- */

.specialHeading {
	font-size: 2.5em;
	font-family: TrajanBold;
	line-height: 2.25;
	color: white;
	text-align: center;
}

/* -- MOBILE PHONE -- */

@media only screen and (max-width: 600px) {
	.specialHeading {
		font-size: 2em;
	}
}

/* -- COMPUTER -- */

#footer {
	height: 10vh;
	margin-top: 3%;
	background-color: #3333ff;
}
.emailSVG {
	height: 10.5vh;
	width: 5.5vw;
	background-image: url("images/email-white.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: .25s;
	position: absolute;
	top: 46.5%;
	left: 24.5%;
}
.emailSVG:hover {
	background-image: url("images/email-yellow.svg");
}
.githubSVG {
	height: 10vh;
	width: 5vw;
	background-image: url("images/github (1).svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: .25s;
	position: absolute;
	top: 46.5%;
	left: 36%;
}
.githubSVG:hover {
	background-image: url("images/github (2).svg");
}
.btrstSVG {
	height: 10vh;
	width: 5vw;
	background-image: url("images/btrst-white.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: .25s;
	position: absolute;
	top: 46.5%;
	right: 36%;
}
.btrstSVG:hover {
	background-image: url("images/btrst-yellow.svg");
}
.linkedinSVG {
	height: 9.5vh;
	width: 4.5vw;
	background-image: url("images/linkedin-white.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: .25s;
	position: absolute;
	top: 46.5%;
	right: 24.5%;
}
.linkedinSVG:hover {
	background-image: url("images/linkedin-yellow.svg");
}
.fiverrSVG {
	height: 17vh;
	width: 12vw;
	background-image: url("images/fiverr-white.svg");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	transition: .25s;
	margin: auto;
}
.fiverrSVG:hover {
	background-image: url("images/fiverr-yellow.svg");
}
/* -- MOBILE PHONE -- */

@media only screen and (max-width: 600px) {
	.emailSVG {
		height: 15vh;
		width: 10vw;
		background-image: url("images/email-white.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 41%;
		left: 5%;
	}
	.githubSVG {
		height: 15vh;
		width: 10vw;
		background-image: url("images/github (1).svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 41%;
		left: 25%;
	}
	.btrstSVG {
		height: 15vh;
		width: 10vw;
		background-image: url("images/btrst-white.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 41%;
		right: 25%;
	}
	.linkedinSVG {
		height: 15vh;
		width: 10vw;
		background-image: url("images/linkedin-white.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		position: absolute;
		top: 41%;
		right: 5%;
	}
	.fiverrSVG {
		height: 22vh;
		width: 17vw;
		background-image: url("images/fiverr-white.svg");
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		margin: auto;
	}
}
/*--------------------------------------------------
Marcus Aurelius Page css
----------------------------------------------*/

.M-A-Head {
	background-image: url('images/marcusaurelius.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	height: 100vh;
}
.butuh {
	height: 100%;
	width: 100%;
	padding-top: 3%;
	padding-left: 15%;
	font-family: TrajanBold;
	text-align: center;
	color: white;
}
@media only screen and (max-width: 600px) {
	.M-A-Head {
		background-position: 40% 50%;
	}
	.butuh {
		height: 100%;
		width: 100%;
		padding-top: 20%;
		padding-left: 0;
		font-family: TrajanBold;
		text-align: center;
		color: white;
	}
}
.maintro {
	height: auto;
}
@media only screen and (max-width: 600px) {
	.maintro {
		height: auto;
	}
}
.ma1 {
	padding: 3%;
}
.ma2 {
	background: url('images/ma.jpg');
	background-attachment: fixed;
	background-position: 50% 40%;
	background-repeat: no-repeat;
	background-size: cover;
}
.madivide {
	height: 100vh;
}
.ma3 {
	background: url('images/ma6.jpg');
	background-attachment: fixed;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}
.ma4 {
	padding: 3%;
}
@media only screen and (max-width: 600px) {
	.ma4 {
		padding-top: 0;
	}
}
.ma5 {
	background: url('images/med.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: -30% 50%;
	background-size: contain;
}
.mamed {
	height: 100vh;
}
.ma6 {
	padding: 5%;
	background-color: black;
	color: white;
}
.ma7 {
	background: url('images/ma1.jpg');
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}
.ma8 {
	padding: 3%;
}
.aa {
	font-size: 2em;
}
.bb {
	font-size: 1.25em;
}
@media only screen and (max-width: 600px) {
	.aa {
		font-size: 1.8em;
	}
}
@media only screen and (max-width: 600px) {
	.bb {
		font-size: 1.1em;
	}
}
@media only screen and (max-width: 600px) {
	.ma3 {
		background: url('images/ma6.jpg');
		background-attachment: fixed;
		background-position: left;
		background-repeat: no-repeat;
		background-size: cover;
		height: 80vh;
	}
	.ma5 {
		background: url('images/med.jpg');
		background-attachment: fixed;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
		height: 100vh;
	}
	.ma6 {
		height: 100vh;
	}
}
